Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
str='xyz'
l=[1,2,'abc',2+4j]
x=4.0
t=(1,2,'abc',2+4j)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

variable name            data type
var1                     string
var2                     string
var3                     list
var4                     integer

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

/ : Divison operator 4/2=2
% : Modulus operator 4%2=0
//: Floor operator 4//3=1
**: Power operator 2**3=8

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
list=[1,2,3,'abc',[1,2,3],'hello',2+4j,(1,2,'abc'),9.0,'10']
print("length of list is", len(list))
for i in list:
    print(i,'',type(i))

length of list is 10
1  <class 'int'>
2  <class 'int'>
3  <class 'int'>
abc  <class 'str'>
[1, 2, 3]  <class 'list'>
hello  <class 'str'>
(2+4j)  <class 'complex'>
(1, 2, 'abc')  <class 'tuple'>
9.0  <class 'float'>
10  <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [16]:
a=10000
b=5
count=0
while a%b==0:
    count+=1
    a/=b
print(count)

4

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
i=2
l=[1]
while i<=25:
    l.append(i)
    i+=1
for i in l:
    if i%3==0:
        print("Element",i,'is divisible by 3')
    else:
        print('Not Divisible')

Not Divisible
Not Divisible
Element 3 is divisible by 3
Not Divisible
Not Divisible
Element 6 is divisible by 3
Not Divisible
Not Divisible
Element 9 is divisible by 3
Not Divisible
Not Divisible
Element 12 is divisible by 3
Not Divisible
Not Divisible
Element 15 is divisible by 3
Not Divisible
Not Divisible
Element 18 is divisible by 3
Not Divisible
Not Divisible
Element 21 is divisible by 3
Not Divisible
Not Divisible
Element 24 is divisible by 3
Not Divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types are those data types in which we can change the value of the elements present at any specific index but in immutable data types we can not change the value of the element by accessing the index number. Example of mutable data type is list and for immutable data type is string.